<template>
  <div v-bind:class="classObject" @click="clicked">
    <div class="header" :style="headerColour">
      <h1>{{ msg }}</h1>
    </div>
    <div class="body">
      <img :src="imageSource" />
    </div>
    <div class="footer">
      <p>{{ footerMessage }}</p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Card',
  props: {
    msg: String,
    cardValue: String,
    bodyMessage: String,
    footerMessage: String,
  },
  data: function () {
    return {
      classObject: {
        'card': true,
        'activated': false
      }
    }
  },
  computed: {
    headerColour: function() {
      let colours = ['rgb(255, 0, 0)', 'rgb(255, 108, 0)', 'rgb(255,180 , 0)', 'rgb(255, 234, 0)', 'rgb(195, 255, 0)',
       'rgb(0, 255, 174)', 'rgb(0 ,237, 255)', 'rgb(0, 165, 255)', 'rgb(0, 39, 255)', 'rgb(159, 0, 255)'];

      let ret = { 'background-color': colours[this.cardValue] };
      return ret;
    },
    imageSource: function() {
      return this.bodyMessage
    }
  },
  methods: {
    clicked: function(item) {
      let selection = {
        value: this.cardValue,
        item: item
      }
      // console.log(selection);
      //this.classObject.activated = true;
      this.$emit('selecty', selection);
    },
    selected: function() {
      this.classObject.activated = true;
    },
    deselected: function() {
      this.classObject.activated = false;
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

@import url('https://fonts.googleapis.com/css?family=Miss+Fajardose|Quicksand');

.card {
  font-family: 'Quicksand', sans-serif;
  background-color: rgb(82, 73, 73);
  width: 8%;
  min-height: 10em;
  margin-right: 1%;
  display: inline-block;
  border-radius: 6px;
  /* filter: drop-shadow(4px 4px 4px #808080 ); */
  filter: drop-shadow(2px 2px 3px #c9c9c9 );
  overflow: hidden;
  transition: .2s ease-in-out;
}

.card.activated {
  transform: scale(1.5);
  z-index: 1;
}

.card:hover {
  /* transform: translateY(-10px); */
  cursor:pointer;
}

/* .card:active { */
  /* transform: translateY(-40px); */
  /* cursor:pointer; */
/* } */

.card .header {
  background-color: red;
  color: white;
  height: 2.8em;
  overflow: hidden;
  clip-path: polygon(100% 0%, 100% 50%, 50% 66%, 0% 50%, 0 0);
}

.card .header h1 {
  margin: 0.1rem 0;
  font-size: 1.2rem;
  -webkit-text-stroke-width: .25px;
  -webkit-text-stroke-color: rgb(148, 148, 148);
}

.card .body {
  font-family: 'Miss Fajardose', cursive;
  font-size: .9rem;
  color: white;
}

.card .body img {
  margin-top: -10px;
  width: 100%;
}

.card .footer {
  font-family: 'Miss Fajardose', cursive;
  font-size: 1.1em;
  color: #ffd1e6;
  position: absolute;
  width: 100%;
  bottom: 0;
  margin-bottom: -10px;
}


h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
