<template>
  <div id="app">
    <h1> Happiness Scale</h1>
    <hr>
    <h2>Your Happiness level is {{ message }}!</h2>
    <hr>
    <br>
    <br>
    <div class="Scale">
      <Card @selecty="itemSelectedListener" cardValue=0 msg="0" bodyMessage="/blackhole.png" footerMessage="Black Hole" />
      <Card @selecty="itemSelectedListener" cardValue=1 msg="1" bodyMessage="/burnttoast.png" footerMessage="Burnt Toast" />
      <Card @selecty="itemSelectedListener" cardValue=2 msg="2" bodyMessage="/moiststone.png" footerMessage="Moist Stone" />
      <Card @selecty="itemSelectedListener" cardValue=3 msg="3" bodyMessage="/indifferentpigeon.png" footerMessage="Indifferent Pigeon" />
      <Card @selecty="itemSelectedListener" cardValue=4 msg="4" bodyMessage="/tepidhamster.png" footerMessage="Tepid Hamster" />
      <Card @selecty="itemSelectedListener" cardValue=5 msg="5" bodyMessage="/averagemonkey.png" footerMessage="Average Monkey" />
      <Card @selecty="itemSelectedListener" cardValue=6 msg="6" bodyMessage="/curiouschausie.png" footerMessage="Curious Chausie" />
      <Card @selecty="itemSelectedListener" cardValue=7 msg="7" bodyMessage="/jumpingdachshund.png" footerMessage="Jumping Dachshund " />
      <Card @selecty="itemSelectedListener" cardValue=8 msg="8" bodyMessage="/bunnygonescored.png" footerMessage="Bunny Gone Scored" />
      <Card @selecty="itemSelectedListener" cardValue=9 msg="9" bodyMessage="/prancingunicorn.png" footerMessage="Prancing Unicorn" />
      <Card @selecty="itemSelectedListener" cardValue=10 msg="10" bodyMessage="/shimmypenguin.png" footerMessage="Shimmy Penguin" />
    </div>
  </div>
</template>

<script>
import Card from './components/Card.vue'

export default {
  name: 'app',
  components: {
    Card
  },
  data: function() {
    return {
      message: 'Unknown'
    }
  },
  methods: {
    itemSelectedListener: function(item) {
      //Dirty approach.
      let ch = this.$children;
      let value = item.value;

      ch.forEach(element => {
        // console.log(element.bodyMessage);
        if (element.cardValue == value) {
          element.selected();
          this.message = element.footerMessage;
          window.location.hash = '#'+ value;
        } else {
          element.deselected();
        }
        
      });
    },
    setClass(cls) {
      return cls;
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
